#name: Authentication Service Workflow
#
#on:
#  push:
#    branches: [ main ]
#    paths:
#      - AuthenticationService/**
#  pull_request:
#    branches: [ main ]
#    paths:
#      - AuthenticationService/**
#
#jobs:
#  build:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#      - uses: docker/setup-qemu-action@v1
#      - uses: docker/setup-buildx-action@v1
#      - uses: docker/login-action@v1
#        with:
#          registry: ghcr.io
#          username: ${{ github.repository_owner }}
#          password: ${{ secrets.CR_PAT }}
#
#      ## deploy and push container to github container registry
#      - uses: actions/download-artifact@v2
#        with:
#          name: artifact-setup
#          path: /bin
#      - name: Build and Push
#        uses: docker
#        with:
#          context: ./AuthenticationService
#          file: ./AuthenticationService/Dockerfile
#          platforms: linux/arm/v7,linux/amd64, macos
#          push: true
#          tags: |
#               ghcr.io/tilbs61-6/hackaton-backend/authenticationservice:latest
#               ghcr.io/tilbs61-6/hackaton-backend/authenticationservice:0.0.${{github.run_number}}
#
#  test:
#    needs: build
#    runs-on: ubuntu-latest
#    env:
#      DB_DATABASE: ${{secrets.DB_DATABASE}}
#      DB_HOST: ${{secrets.DB_HOST}}
#      DB_USER: ${{secrets.DB_USER}}
#      DB_PASSWORD: ${{secrets.DB_PASSWORD}}
#      DB_PORT: ${{secrets.DB_PORT}}
#    container:
#      image: ghcr.io/teundeclercq/authenticationservice:latest
#      credentials:
#        username: ${{ github.repository_owner }}
#        password: ${{ secrets.CR_PAT }}
#    steps:
#      - name: Test container
#        run: docker-compose run test
#
#
#
#    # deploy code to cluster
#  deploy:
#    needs: test
#    runs-on: ubuntu-latest
#    steps:
#      - name: Deploy to local raspberry pi cluster
#        uses: steebchen/kubectl@v1.0.0
#        env:
#          KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG }}
#        with:
#          args: |
#            apply -f ./AuthenticationService/deployment/authenticationServiceDeployment.yml
#
