name: main workflow

on:
  push:
    branches: [ main ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: HelloWorld
        uses: ./.github/actionTwo/
        id: hello
        with:
          who-to-greet: 'Teun de Clercq'

      - name: Get the current dir
        run: echo "Current directories are ${{ steps.currentdir.outputs.time }}"

