on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: job to say hello
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: npm install
        run: npm install
      - name: Hello world action step
        uses: ./ # Uses an action in the root directory
        id: hello
        with:
          who-to-greet: 'teun de clercq'
        # Use the output from the `hello` step
      - name: Get the output time
        run: |
          echo "dirs=(${{steps.hello.outputs.directorys}})" >> $GITHUB_ENV
      - name: print dirs
        run: | 
          echo "my array ${{env.dirs[@]}}"
