name: main workflow

on:
  push:
    branches: [ main ]
    paths: [ ${{matrix.path}} ]
    
jobs:
  build:
    runs-on:
    strategy:
      matrix:
        path: [ AuthenticationService/**, BillingService/** ]
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      ## deploy and push container to github container registry
      - uses: actions/download-artifact@v2
        with:
          name: artifact-setup
          path: /bin
      - name: Build and Push
        uses: docker
        with:
          context: ./AuthenticationService
          file: ./AuthenticationService/Dockerfile
          platforms: linux/arm/v7,linux/amd64, macos
          push: true
          tags: |
               ghcr.io/tilbs61-6/hackaton-backend/authenticationservice:latest
               ghcr.io/tilbs61-6/hackaton-backend/authenticationservice:0.0.${{github.run_number}}

