on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: job to say hello

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: npm install
        run: npm install
      - name: Hello world action step
        uses: ./ # Uses an action in the root directory
        id: hello
        with:
          who-to-greet: 'teun de clercq'
        # Use the output from the `hello` step
      - name: Get the output time
        run: |
          myarray=(`echo ${{steps.hello.outputs.directorys}} | tr ',' ' '`)
          for((i=0; i < ${#myarray[@]}; i++)); do
            current_element=${arr[i]}
            echo "$current_element"
          done
          echo "my array $myarray"
